<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <!-- Title Card -->
    <div class="text-center mb-4">
            <h1 style="color: white;">Accepted Donations List</h1>
    </div>

    <!-- Explanation Card -->
    <div class="container">
        <div class="card mb-3" style="border: 7px solid #66AFB6;">
            <div class="card-body">
                <p>These items are what Scottish Pantry currently accepts as donation items. If there is an overflow of stock or simply less need for a specific item, the 'Remove' button can be used to halt any further donations of this item. More items can also be introduced to the accepted donations list by clicking the 'Add' button.</p>
                <form action="/donation/add_donation_item" method="post">
                    <div class="form-group">
                        <label for="acceptedItem">Food Item:</label>
                        <input type="text" class="form-control" id="acceptedItem" name="acceptedItem" required>
                    </div>
                    <div class="form-group">
                        <label for="acceptedItemCategory">Category</label>
                        <select class="form-control" id="acceptedItemCategory" name="acceptedItemCategory" required>
                            <option value="pantry items">Pantry Items</option>
                            <option value="tinned goods">Tinned Goods</option>
                            <option value="fruit">Fruit</option>
                            <option value="veg">Vegetables</option>
                            <option value="dairy products">Dairy Products</option>
                            <option value="meat">Meat</option>
                            <option value="bread">Bread</option>
                            <option value="pastry">Pastry</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Accepted Donations Table Card -->
    <div class="container">
        <div class="card mb-3" style="border: 7px solid #66AFB6;">
            <div class="card-body">
                <table class="table table-bordered table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Item Id</th>
                            <th>Food Item</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#acceptedDonations}}
                        <tr>
                            <td>{{_id}}</td>
                            <td>{{acceptedItem}}</td>
                            <td>{{acceptedItemCategory}}</td>
                            <td>
                                <!-- Remove Form -->
                                <form action="/donation/remove_accepted_donation_item/{{_id}}" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {{/acceptedDonations}}
                        {{^acceptedDonations}}
                            <tr>
                                <td colspan="4">No donation items to display</td>
                            </tr>
                        {{/acceptedDonations}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{>footer}}

</body>
</html>
