<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <!-- New card for the title and create button -->
            <div class="card mb-4 text-center" style="max-width: fit-content; margin: auto; border: 7px solid #66AFB6;">
                <div class="card-body">
                    <h5 class="card-title">Users Management</h5>
                    <p class="card-text">This is the User Dashboard. As an admin, you can acces and manage all users on this system via this page. To create a new user, click the 'Create New User' button. Accounts can also be disabled via the 'Update Status' button </p>
                    <a href="/user/create_user" class="btn btn-primary">Create New User</a>
                </div>
            </div>
            <!-- Original card holding the table -->
            <div class="card text-center" style="max-width: 100%; margin: auto; border: 7px solid #66AFB6;">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>ID</th>
                                    <th>Role</th>
                                    <th>Account Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#users}}
                                <tr>
                                    <td>{{firstName}} {{lastName}}</td>
                                    <td><a href="/admin/user_details/{{_id}}">{{email}}</a></td>
                                    <td>{{_id}}</td>
                                    <td>{{role}}</td>
                                    <td>{{status}}</td>
                                    <td>
                                        <a href="/user/edit_as_admin/{{_id}}" class="btn btn-primary">Edit</a>    
                                        <a href="/user/update_status/{{_id}}" class="btn btn-danger">Update Status</a>                                                  
                                   </td>
                                </tr>
                                {{/users}}
                                {{^users}}
                                <tr>
                                    <td colspan="5">No users to display</td>
                                </tr>
                                {{/users}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>

{{>footer}}

</body>
</html>
