<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h2 class="card-title">Account Functions</h2>
            <div class="card-text">
                    <a id="users" href="/admin/user_dashboard" class="btn btn-primary">User Dashboard</a>
                    <a id="stock" href="/admin/stock_dashboard" class="btn btn-primary"> Stock Dashboard </a>
                    <a id="donations" href="/admin/donations_dashboard" class="btn btn-primary"> Donation Dashboard</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>