<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
    <div class="card mb-3" style="border: 7px solid #66AFB6>
        <div class="card-body text-center">
            <h2 class="card-title">Choose which warehouse to view stock from</h2>
            <div class="card-text">
                {{#warehouses}}
                    <a href="/warehouse/view_stock/{{_id}}" class="btn btn-primary">{{address}}</a>
                {{/warehouses}}
                {{^warehouses}}
                    <p>No warehouse to display </p>
                {{/warehouses}}
                <a href="/warehouse/view_all_stock" class="btn btn-primary">View All Stock</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-3" style="border: 7px solid #66AFB6>
        <div class="card-body text-center">
            <h2 class="card-title">Stock Requests</h2>
            <div class="card-text">
                <a href="/warehouse/view_all_pending_stock_requests" class="btn btn-primary">View Stock Requests</a>               
            </div>
        </div>
    </div>
</div>

</body>
</html>