<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h2 class="card-title">Choose which warehouse to view stock from</h2>
            <div class="card-text">
                {{#warehouses}}
                    <a href="/warehouse/view_stock/{{_id}}" class="btn btn-primary">{{address}}</a>
                {{/warehouses}}
                {{^warehouses}}
                    <p>No warehouse to display </p>
                {{/warehouses}}
            </div>
        </div>
    </div>
</div>

</body>
</html>