<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
    <div class="card text-center mb-4" style="max-width: fit-content; margin: auto; border: 7px solid #66AFB6;">
        <div class="card-body">
            <h1>All Stock Requests</h1>
            <br/>
            <h4>Accepting a stock request submission will send a pick-up order to the corresponding Depot. Declining the submission will delete the request.</h4>
            <h5>Once a request is accepted/declined it cannot be changed</h5>
            <br/>
            <br/>
            <a href="/warehouse/view_all_Approved_stock_requests" class="btn btn-primary">Approved Stock Requests</a> 
            <br/>
            <br/>
            <a href="/warehouse/view_all_declined_stock_requests" class="btn btn-primary">Declined Stock Requests</a>
            <br/>
            <br/>
            <a href="/warehouse/view_all_pending_stock_requests" class="btn btn-primary">Pending Stock Requests</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card text-center" style="border: 7px solid #66AFB6;">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="background-color: #f2f2f2;">Warehouse ID</th>
                                    <th style="background-color: #f2f2f2;">Food Item</th>
                                    <th style="background-color: #f2f2f2;">Notes</th>
                                    <th style="background-color: #f2f2f2;">Request Date</th>
                                    <th style="background-color: #f2f2f2;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#stockRequests}}
                                <tr>
                                    <td>{{warehouseId}}</td>
                                    <td>{{foodItem}}</td>
                                    <td>{{notes}}</td>
                                    <td>{{requestedOn}}</td>
                                    <td>{{status}}</td>
                                </tr>
                                {{/stockRequests}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{>footer}}

</body>
</html>