<br/>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a href="/home">
                <h1>Scottish Pantry Organisation</h1>
            </a>           
        </div>
    </div>
</div>
<br/>