<br/>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
            <a href="/home" style="text-decoration: none; color: black;">
                <h1 style="font-family: 'Dela Gothic One', sans-serif; font-weight: bold;">Scottish Pantry Organisation</h1>
            </a>          
        </div>
    </div>
</div>
<br/>