<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-
Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">

<style>
    body {
        background-color: #3A6264;
    }
    .card {
        background-color: #f8f9fa; /* Off-white color */
    }
    .btn-primary {
        background-color: #66AFB6; /* Button color */
        border-color: #66AFB6; /* Button border color */
    }
    .btn-primary:hover {
        background-color: #4C8C95; /* Darker color on hover */
        border-color: #4C8C95; /* Darker border color on hover */
    }
    thead th {
        background-color: #dcdcdc;
    }
    tbody td {
        background-color: #fff;
    }
</style>