<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
    <!-- User details card -->
    <h2 style="color: white;">Details</h2>
    <div class="card mb-4" style="border: 7px solid #66AFB6;">
        <div class="card-header">
            User Details
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> {{user._id}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>First Name:</strong> {{user.firstName}}</p>
            <p><strong>Last Name:</strong> {{user.lastName}}</p>
            <p><strong>Role:</strong> {{user.role}}</p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <!-- Donations card -->
    <h2 style="color: white;">Donations</h2>
    <div class="card mb-4" style="border: 7px solid #66AFB6;">
        <div class="card-header">
            Donations
        </div>
        <div class="card-body">
            <!-- Check if there are donations -->
            {{#donations}}
                <!-- Iterate over donations and display each -->
                {{#.}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/donation/details/{{_id}}">Donation ID: {{_id}}</a></h5>                                                  
                            <p class="card-text"><strong>Category:</strong> {{category}}</p>
                            <p class="card-text"><strong>Donated On:</strong> {{donatedOn}}</p>
                        </div>
                    </div>
                {{/.}}
            {{/donations}}
            {{^donations}}
                <div class="card mb-3">
                    <div class="card-body">
                        <p>No donations found.</p>
                    </div>
                </div>
            {{/donations}}
        </div>
    </div>
</div>

{{>footer}}
</body>
</html>
