<html>
<head>
    {{>header}}
</head>
<body class="container">

     {{>bodyHeading}}   

    <h1>{{title}}</h1>
    <h2>Log In</h2>
    <div id="formContent">
        <!-- Login Form -->
        <form method="POST" action="/user/login">
            <div class="form-group">
                <label for="email" class="col-sm-2 col-formlabel">
                    Email
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  id="email" name="email" placeholder="email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 col-formlabel">
                    Password
                </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control"  id="password" name="password"placeholder="password">
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Sign In">
            {{#errorMessage}}
                <p style="color: white; font-weight: bold;">{{errorMessage}}</p>
            {{/errorMessage}}
        </form>
    </div>
</body>
</html>