<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

    {{>bodyHeading}}
    <div class="container">

         <div class="card" style="border: 7px solid #66AFB6; margin-bottom: 20px;">
            <div class="card-body">
                <p class="card-title">Please fill out the form below in order to complete the donation process.</p>
                <p>Please note: the drop down list will only display items that the Scottish Pantry Network are currently accepting. If you cannot see the item you wish to donate, contact us directly <a href="/contact">Here</a> and we will provide further assistance. This list is subject to change depending on current stock levels, so be sure to check back in regularly!</p>
            </div>
        </div>

        <div class="card style="border: 7px solid #66AFB6;">
            <div class="card-body">
                <h2 class="card-title">Make a Donation</h2>
                <form action="/donation/make_donation" method="post">

                    <div class="form-group">
                        <label for="address">Choose a Pantry to donate to:</label>
                        <select class="form-control" id="address" name="address" required>
                            {{#warehouses}}
                                <option value="{{_id}}">{{address}}</option>
                            {{/warehouses}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="acceptedItem">Food Item:</label>
                        <select class="form-control" id="acceptedItem" name="acceptedItem" required>
                            {{#acceptedDonations}}
                                <option value="{{acceptedItem}}">{{acceptedItem}}</option>
                            {{/acceptedDonations}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="qty">Quantity:</label>
                        <input type="text" class="form-control" id="qty" name="qty" placeholder="Leave blank or '1' if donating fruit, veg, or meat">
                    </div>
    
                    <div class="form-group">
                        <label for="weightKg">Weight (Kg):</label>
                        <input type="text"  class="form-control" id="weightKg" name="weightKg" rows="3" placeholder="Only required if donating fruit, veg or meat - leave blank otherwise">
                    </div>

                    <div class="form-group">
                        <label for="useByDate">Use By Date:</label>
                        <input type="date" class="form-control" id="useByDate" name="useByDate" required>
                    </div>
    
                    <button type="submit" class="btn btn-primary">Donate</button>
                </form>
            </div>
        </div>
        {{#errorMessage}}
                <p style="color: white; font-weight: bold;">{{errorMessage}}</p>
        {{/errorMessage}}
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    {{>footer}}
</body>
</html>