<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h2 class="card-title">Manager Dashboard</h2>
            <div class="card-text">
                {{#warehouseId}}
                    <a id="users" href="/admin/user_dashboard" class="btn btn-primary">User Dashboard - IMPLEMENT</a>
                    <a id="stock" href="/warehouse/view_stock/{{warehouseId}}" class="btn btn-primary"> View Warehouse Stock</a>
                    <a id="donations" href="/warehouse/view_donations/{{warehouseId}}" class="btn btn-primary"> View Warehouse Donations</a>
                    <a id="donations" href="/warehouse/create_stock_request/{{warehouseId}}" class="btn btn-primary"> Request Stock</a>
                {{/warehouseId}}
                {{^warehouseId}}
                    <p>Your account is not linked to any warehouses - contact an admin </p>
                {{/warehouseId}}
            </div>
        </div>
    </div>
</div>

</body>
</html>