<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>bodyHeading}}
    <div class="container">
        <h1 class="text-center" style="color: white;">Create a New Stock Request Form</h1>
        <div class="card" style="border: 7px solid #66AFB6;">
            <div class="card-body">
                <p>This form will be submitted to head office where it will be approved/declined by the operations manager, based on your stock levels, and other warehouses stock levels.
                 Please also note that the Food Item list is limited to the available stock in other Pantry's. If you do not see the item you wish to request it means that other Pantry's also do not have this item.</p>
                <form action="/warehouse/post_create_stock_request/{{warehouseId}}" method="post">
                    <div class="form-group">
                        <label for="foodItem">Food Item:</label>
                        <select class="form-control" id="foodItem" name="foodItem" required>
                            {{#stockList}}
                                <option value="{{foodItem}}">{{foodItem}}</option>
                            {{/stockList}}
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="notes">Notes (if any):</label>
                        <textarea class="form-control" id="notes" name="notes" rows="3" required></textarea>
                    </div>
    
                    <button type="submit" class="btn btn-primary">Submit Request</button>
                </form>
            </div>
        </div>
    </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{>footer}}    
</body>
</html>