<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>bodyHeading}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card text-center" style="max-width: fit-content; margin: auto; border: 7px solid #66AFB6;">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h2 class="mb-4">Stock Results</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Food Item</th>
                                        <th>Total Weight</th>
                                        <th>Total Quantity</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#stockList}}
                                    <tr>
                                        <td>{{foodItem}}</td>
                                        <td>{{totalWeight}}</td>
                                        <td>{{totalQty}}</td>
                                        <td>{{category}}</td>
                                    </tr>
                                    {{/stockList}}
                                    {{^stockList}}
                                    <tr>
                                        <td colspan="4">No stock available.</td>
                                    </tr>
                                    {{/stockList}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>