<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}


<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h2>Stock Results</h2>
    <div style="max-width: 1000px; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th style="padding: 8px; background-color: #dcdcdc; text-align: left;">Food Item</th>
                <th style="padding: 8px; background-color: #dcdcdc; text-align: left;">Total Weight</th>
                <th style="padding: 8px; background-color: #dcdcdc; text-align: left;">Total Quantity</th>
                <th style="padding: 8px; background-color: #dcdcdc; text-align: left;">Category</th>
            </tr>
        </thead>
        <tbody>
            {{#stockList}}
            <tr>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{foodItem}}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{totalWeight}}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{totalQty}}</td>
                <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{category}}</td>
            </tr>
            {{/stockList}}
            {{^stockList}}
            <tr>
                <td colspan="4" style="padding: 8px; border-bottom: 1px solid #ddd;">No stock available.</td>
            </tr>
            {{/stockList}}
        </tbody>
    </table>
</div>
<div/>


</body>
</html>