<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

{{>bodyHeading}}

<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card text-center" style="max-width: fit-content; margin: auto; border: 7px solid #66AFB6;">
                    <div class="card-body">
                        <table style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="padding: 8px; text-align: left;">Food Item</th>
                    <th style="padding: 8px; text-align: left;">Total Weight</th>
                    <th style="padding: 8px; text-align: left;">Total Quantity</th>
                    <th style="padding: 8px; text-align: left;">Category</th>
                    <th style="padding: 8px; text-align: left;">Donated On</th>
                    <th style="padding: 8px; text-align: left;">Donated By</th>
                </tr>
            </thead>
            <tbody>
                {{#donations}}
                <tr>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{foodItem}}</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{weightKg}}</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{qty}}</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{category}}</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{donatedOn}}</td>
                    <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{userId}}</td>
                </tr>
                {{/donations}}
                {{^donations}}
                <tr>
                    <td colspan="6" style="padding: 8px; border-bottom: 1px solid #ddd;">No Donations as of Now!</td>
                </tr>
                {{/donations}}
            </tbody>
        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

